*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.padre{
    color: grey;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-template-areas: 
    "header header header"
    "sectionA sectionA aside"
    "sectionB sectionB aside"
    "article1 article2 aside"
    "footer footer footer";
}
.header {
    background-color: aqua;
    margin: 10px;
    padding: 10px;
    grid-area: header;
}
.sectionA{
    background-color: coral;
    margin: 10px;
    padding: 10px;
    grid-area: sectionA;
}
.sectionB{
    background-color: lavender;
    margin: 10px;
    padding: 10px;
    grid-area: sectionB;
}
.article1{
    background-color: maroon;
    margin: 10px;
    padding: 10px;
    grid-area: article1;
}
.article2{
    background-color: seagreen;
    margin: 10px;
    padding: 10px;
    grid-area: article2;
}
.aside{
    background-color: navajowhite;
    margin: 10px;
    padding: 20px;
    grid-area: aside;
}
.footer{
    background-color: navy;
    margin: 10px;
    padding: 20px;
    grid-area: footer;
}
h2{
    margin: 10px;
    padding: 20px;
}